<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #clock {
            color: #99EF6F;
            font-size: 100px;
            margin-left: 65%;
            margin-top: -20%;
            font-family: fantasy;
            width: 500px;
            text-align: center;
        }

        h1 {
            color: white;
            font-size: 60px;
            margin-top: -95px;
            margin-left: 50px;
        }
    </style>

    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="mystyle.css"> -->

    <img src="https://cdn.guidingtech.com/imager/assets/200189/Funny-Desktop-Backgrounds-for-Work-10_4d470f76dc99e18ad75087b1b8410ea9.jpg?1532006888"
        height="1050" width="100%">
</head>

<body>
    <h1>Lets the day begin!</h1>

    <div id="clock">{{time}}</div>




</body>

</html>